.alert {
    border: 1px solid green;
    border-bottom: 1em;
    background-color: green;
    opacity: 60%;
    visibility: hidden;
    }
    
.redBorder {
    border: 1px solid red;
}
.showMessage{
    visibility: visible;
}

.wrapper {
    border: 1px solid black;
}